In [1]:
import numpy as np
import pandas as pd

Load Data

In [2]:
data = pd.read_csv('datasets/FilteredData.csv')
data

,ClientID,CycleNumber,Group,CycleWithPeakorNot,ReproductiveCategory,LengthofCycle,MeanCycleLength,EstimatedDayofOvulation,LengthofLutealPhase,FirstDayofHigh,...,Method,Prevmethod,Methoddate,Whychart,Nextpreg,NextpregM,Spousesame,SpousesameM,Timeattemptpreg,BMI
0,nfp8122,1,0,1,0,29,27.33,17,12,12,...,9,,,2,7,7,1,1,0,21.254724111867
1,nfp8122,2,0,1,0,27,,15,12,13,...,,,,,,,,,,
2,nfp8122,3,0,1,0,29,,15,14,,...,,,,,,,,,,
3,nfp8122,4,0,1,0,27,,15,12,13,...,,,,,,,,,,
4,nfp8122,5,0,1,0,28,,16,12,12,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1549,nfp8334,7,1,1,0,29,,19,10,13,...,,,,,,,,,,
1550,nfp8334,8,1,1,0,28,,17,11,12,...,,,,,,,,,,
1551,nfp8334,9,1,1,0,28,,16,12,11,...,,,,,,,,,,
1552,nfp8334,10,1,1,1,40,,27,13,13,...,,,,,,,,,,
1553,nfp8334,11,1,1,2,24,,,,,...,,,,,,,,,,

In [3]:
df = data[['ClientID','CycleNumber','LengthofCycle']].copy()
df

     ClientID  CycleNumber  LengthofCycle
0     nfp8122            1             29
1     nfp8122            2             27
2     nfp8122            3             29
3     nfp8122            4             27
4     nfp8122            5             28
...       ...          ...            ...
1549  nfp8334            7             29
1550  nfp8334            8             28
1551  nfp8334            9             28
1552  nfp8334           10             40
1553  nfp8334           11             24

[1554 rows x 3 columns]

In [4]:
df['LengthofCycle'] += 1

In [5]:
df

     ClientID  CycleNumber  LengthofCycle
0     nfp8122            1             30
1     nfp8122            2             28
2     nfp8122            3             30
3     nfp8122            4             28
4     nfp8122            5             29
...       ...          ...            ...
1549  nfp8334            7             30
1550  nfp8334            8             29
1551  nfp8334            9             29
1552  nfp8334           10             41
1553  nfp8334           11             25

[1554 rows x 3 columns]

In [6]:
df['shift_1'] = df['LengthofCycle'].shift(1)
df['shift_2'] = df['LengthofCycle'].shift(2)
df

     ClientID  CycleNumber  LengthofCycle  shift_1  shift_2
0     nfp8122            1             30      NaN      NaN
1     nfp8122            2             28     30.0      NaN
2     nfp8122            3             30     28.0     30.0
3     nfp8122            4             28     30.0     28.0
4     nfp8122            5             29     28.0     30.0
...       ...          ...            ...      ...      ...
1549  nfp8334            7             30     33.0     31.0
1550  nfp8334            8             29     30.0     33.0
1551  nfp8334            9             29     29.0     30.0
1552  nfp8334           10             41     29.0     29.0
1553  nfp8334           11             25     41.0     29.0

[1554 rows x 5 columns]

In [7]:
mask = df['CycleNumber'] < 3
df.loc[mask, ['shift_1', 'shift_2']] = np.nan
df

     ClientID  CycleNumber  LengthofCycle  shift_1  shift_2
0     nfp8122            1             30      NaN      NaN
1     nfp8122            2             28      NaN      NaN
2     nfp8122            3             30     28.0     30.0
3     nfp8122            4             28     30.0     28.0
4     nfp8122            5             29     28.0     30.0
...       ...          ...            ...      ...      ...
1549  nfp8334            7             30     33.0     31.0
1550  nfp8334            8             29     30.0     33.0
1551  nfp8334            9             29     29.0     30.0
1552  nfp8334           10             41     29.0     29.0
1553  nfp8334           11             25     41.0     29.0

[1554 rows x 5 columns]

In [8]:
df['fixing'] = 0
mask = (df['LengthofCycle'] == df['shift_1']) & (df['LengthofCycle'] == df['shift_2'])
df.loc[mask, ['fixing']] = 1
df

     ClientID  CycleNumber  LengthofCycle  shift_1  shift_2  fixing
0     nfp8122            1             30      NaN      NaN       0
1     nfp8122            2             28      NaN      NaN       0
2     nfp8122            3             30     28.0     30.0       0
3     nfp8122            4             28     30.0     28.0       0
4     nfp8122            5             29     28.0     30.0       0
...       ...          ...            ...      ...      ...     ...
1549  nfp8334            7             30     33.0     31.0       0
1550  nfp8334            8             29     30.0     33.0       0
1551  nfp8334            9             29     29.0     30.0       0
1552  nfp8334           10             41     29.0     29.0       0
1553  nfp8334           11             25     41.0     29.0       0

[1554 rows x 6 columns]

In [9]:
df['fixing'].sum()

35

In [10]:
fixed_haflaga_df = df[df['fixing']==1]
fixed_haflaga_df

     ClientID  CycleNumber  LengthofCycle  shift_1  shift_2  fixing
63    nfp8020            7             28     28.0     28.0       1
172   nfp8045            6             30     30.0     30.0       1
173   nfp8045            7             30     30.0     30.0       1
238   nfp8062            6             32     32.0     32.0       1
239   nfp8062            7             32     32.0     32.0       1
251   nfp8066            3             27     27.0     27.0       1
255   nfp8066            7             29     29.0     29.0       1
260   nfp8066           12             28     28.0     28.0       1
283   nfp8068            4             27     27.0     27.0       1
287   nfp8068            8             26     26.0     26.0       1
288   nfp8068            9             26     26.0     26.0       1
289   nfp8068           10             26     26.0     26.0       1
337   nfp8079            6             26     26.0     26.0       1
338   nfp8079            7             26     26.0     26.0       1
432   nfp8100            8             30     30.0     30.0       1
459   nfp8102           11             27     27.0     27.0       1
549   nfp8133            5             33     33.0     33.0       1
781   nfp8174           19             29     29.0     29.0       1
785   nfp8174           23             29     29.0     29.0       1
819   nfp8178            5             27     27.0     27.0       1
823   nfp8178            9             27     27.0     27.0       1
824   nfp8178           10             27     27.0     27.0       1
867   nfp8186           10             29     29.0     29.0       1
1105  nfp8260           15             31     31.0     31.0       1
1138  nfp8264           11             29     29.0     29.0       1
1139  nfp8264           12             29     29.0     29.0       1
1140  nfp8264           13             29     29.0     29.0       1
1177  nfp8270            3             32     32.0     32.0       1
1217  nfp8278           12             29     29.0     29.0       1
1257  nfp8289           13             28     28.0     28.0       1
1269  nfp8289           25             28     28.0     28.0       1
1387  nfp8308            6             30     30.0     30.0       1
1388  nfp8308            7             30     30.0     30.0       1
1424  nfp8310           14             26     26.0     26.0       1
1531  nfp8328           22             31     31.0     31.0       1

In [11]:
len(fixed_haflaga_df['ClientID'].unique())

20

In [12]:
def HAFLAGA_fixed_mestruation_ClientID_list(data):
    df = data[['ClientID','CycleNumber','LengthofCycle']].copy()
    df['shift_1'] = df['LengthofCycle'].shift(1)
    df['shift_2'] = df['LengthofCycle'].shift(2)
    mask = df['CycleNumber'] < 3
    df.loc[mask, ['shift_1', 'shift_2']] = np.nan
    df['fixing'] = 0
    mask = (df['LengthofCycle'] == df['shift_1']) & (df['LengthofCycle'] == df['shift_2'])
    df.loc[mask, ['fixing']] = 1
    fixed_haflaga_df = df[df['fixing']==1]
    return fixed_haflaga_df['ClientID'].unique()